:root{
    --width-std: 80%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; height: 10vh;
    z-index: 900;
    transition: 300ms ease-in-out;

    background: var(--clr-drk);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    .row{
        width: var(--width-std); height: 100%;
    }

    .nav-header{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        img[alt="logo"]{
            height: 80%;
        }
        span{
            font-size: min(max(2vw, 1rem), 1.5rem);
            color: #fff;
            margin-left: 1rem;
        }
    }
    .nav-links{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        li{
            list-style: none;
            a{
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: min(max(1.5vw, 0.8rem), 1.2rem);
                padding: 0.5rem 1rem;
                transition: 300ms ease-in-out;
                &&::after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background: var(--clr-alt);
                    transition: 300ms ease-in-out;
                }
                &&:hover::after{
                    width: 100%;
                }
                &:hover{
                    color: var(--clr-alt);
                }
            }
        }
    }
    .toggle-menu{
        display: none;
        font-size: min(max(2vw, 1rem), 1.5rem);
        margin: 0 1rem;
        cursor: pointer;
        color: #fff;
        transition: 300ms ease-in-out;
        &&:hover{
            color: var(--clr-alt);
        }
    }
}

@media (width < 1200px){
    :root{
        --width-std: 95%;
    }
    nav{
        height: 8vh;
    }
    nav .nav-links{
        position: fixed;
        top: 8vh;
        right: -80%;
        width: 80%; height: 90vh;
        background: var(--clr-drk);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 999;

        li:first-child{
            margin-top: 1rem;
        }

        li{
            width: 90%;
            border-bottom: 1px solid #eee;
            a{
                padding: 1rem 2rem;
            }
        }
    }
    nav .toggle-menu{
        display: block;
    }
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%; height: 100vh;
    z-index: 10;
    transition: 300ms ease-in-out;
    video{
        width: 100%; height: 100%;
        object-fit: cover;
    }
    .overlay{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 1rem;

        h1{
            font-size: min(max(4vw, 2rem), 3rem);
            margin-bottom: 1rem;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        p{
            font-size: min(max(2vw, 1rem), 1.5rem);
            margin-bottom: 2rem;
            max-width: 600px;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .btn-cta{
            background: var(--clr-main);
            color: var(--clr-alt);
            padding: 0.75rem 1.5rem;
            font-size: min(max(1.5vw, 0.8rem), 1.2rem);
            text-decoration: none;
            /* box-shadow: 0 0 10px var(--clr-alt); */
            border-radius: 5px;
            transition: 300ms ease-in-out;
            &:hover{
                background: var(--clr-alt);
                color: #fff;
                text-shadow: 0 0 10px rgba(0,0,0,0.5);
                box-shadow: 0 0 20px var(--clr-alt);
            }
        }
    }
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    .row{
        width: var(--width-std);
        /* background-color: red; */
    }
}